.footer {
    width: 100%;
    background-color: #000;
    color: #f8f8f8;
    padding: 4rem 0;
    text-align: center;
}

.footer .container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    border: 1px dotted #006dff;
}

.footer h4 {
    display: inline-block;
    border-bottom: 3px solid #006dff;
    padding-bottom: .2rem;
    color: #f8f8f8 !important;
    align-items: center;
    justify-content: center;
}

.footer .col p {
    margin: 1rem 0;
}
@media screen and (ma-width: 940px) {
    .footer .container {
        grid-template-columns: 1fr 1fr;
    }

    .footer h4 {
        margin-top: 2rem;
    }

    
}